* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

.modal-backdrop{
  z-index:0 !important;
} 

.index-text{
  position: absolute;
}


body {
  margin: 0;
}
.pets-content .book-image:hover{
  filter: brightness(75%);
  transition: filter 0.2s;
}

textarea{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

#map{
  width: 100%;
}

.row{
  margin-top:20px;
  }
  
  .today{
  background:yellow;
  }
  
  .btn-primary{
      margin:0 15px;
  }
  
  .table-bordered{
      margin:25px 0;
  }
  
  .day-row, .empty, .day-names{
      border: 1px solid lightgray;
  }
  
  .btn{
      padding:5px;
      border-radius:8px;
  }
  
  .btn-success{
      background:green;
      color:#fff;
  
  }
  
  .btn-danger{
      background:red;
      color:#fff;
  
  }



  .closed{
    background:#dadada;
  }


.page-footer >.footer-container > div > ul > li{
  list-style: none;
}

.page-footer >.footer-container > div > ul{
  padding:0;
}

body, button, input, textarea, select {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}


.button {
  background-color: #00A385;
  color: black;
  display: inline-block;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

input.button {
  border: 0;
  cursor: pointer;
}

a{
  cursor: pointer;
}

.button:hover {
  background-color: #006855;
  color: white;
}

.danger {
  background-color: #c11537;
  color: white;
}

.danger:hover {
  background-color: #920925;
  color: white;
}

.button-form {
  margin-top: 16px;
}

.button-form .button {
  text-align: center;
  width: 100%;
}

.description{
  color: #000;
}

h1,h2,h3,h4{
  color: #00A385;
}

.page-header h2{
  color: #fff;
}


/* HEADER, NAVIGATION, FOOTER */


.header-content{
  background-color: #00A385;
  color: #fff;
}

.header-content-bot > h2,.header-content-bot > p{
color: #fff;

}

.footer-container{
  color: #fff;
}

.page-footer {
  background-color: #00A385;
  margin-top: 32px;
  text-align: center;
}

.content-wrapper {
  margin: auto;
}

.main-content {
  padding: 16px;
}

.mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  width: 100px;
}

.nav-button img {
  width: 100%;
}

.page-navigation {
  display: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-links a {
  color: black;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 16px;
  padding: 8px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: orangered;
  color: white;
}

.footer-container li{
  list-style: none;
  color: #fff;
}

.footer-container p{
  color: #fff;
}

.page-footer h3{
  color: #fff;
}



/* BOOK LIST */
.book-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}

.pet-list-container > h1{
  text-align: center;
  color: #00A385;
}

.book-container {
  margin-top: 32px;
}

.book-card {
  color: black;
  flex: 1;
  margin: 0 auto 32px;
  max-width: 300px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
}

.book-card:hover {
  background-color: #eee;
}

.book-image {
  width: 100%;
  object-fit: cover;
}

.book-list .book-image {
  height: 350px;
  width: 225px;
}

.pet-age {
  color:#000;
  font-weight: bold;
}

/* BOOK TABLE */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 4px;
}

.center {
  text-align: center;
}

.image-cell img {
  display: block;
  margin: auto;
  width: 100%;
}

.buttons-cell a {
  display: block;
  margin: 32px auto;
  text-align: center;
}

.basket-controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.basket-controls .button-form {
  margin-bottom: 0;
}

/* LOGIN / REGISTER FORMS */
input:not(input.button) {
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
}



textarea{
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}

.form .button {
  border: 0;
  cursor: pointer;
  width: 100%;
}

.error:empty{
  display: none;
}

.error {
  background-color: crimson;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}



.success-content{
  display: flex;
  align-items: center;
  flex-direction: column;
}



/* ORDERS */
.order-group {
  border: 2px solid black;
  margin-bottom: 32px;
}

.order-group-head {
  border-bottom: 1px solid black;
  padding: 4px 16px;
}

.order-group-meta {
  font-size: 18px;
}

.order-group-row {
  padding: 16px;
  text-align: center;
}

.order-image {
  margin: 0 auto 16px;
  max-width: 60%;
  object-fit: cover;
}

/* FORM */
.inline-inputs {
  display: flex;
  gap: 8px;
}

.inline-inputs input {
  flex: 1;
}

/* Home Page Features section */

.feature-card-container{
  display: flex;
  background-color: #dadada;
  justify-content: space-between;
}

.page-header > .header-content > .desktop-header-row >.mobile-top > div {
  align-items: center;

}

@media screen and (min-width:320px) {
  .header-content  h2{
    font-size: 18px;
  }
  
  .header-content h2{
    margin:0;
    width: 95%;

  }

  .header-content  p{
    font-size: 15px;
    width: 90%;

  }

  .header-img{
    width: 205px;
  }

  .header-container2{
    width: 225px;
  }


  
  .page-title{
    font-size: 14px;
  }

  .logo{
    width: 50px;
  }

  .logo-desktop{
    display: none;
  }

  .logo-mobile{
    display: flex;
  }

  .nav-button{
    width: 65px;
  }
  .header-content-bot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }




  .header-content{
    padding-left:15px;

    }

    .form-content{
      width: 75%;
    }



    .show-on-mobile {
      display: block;
    }

    .nav-links{
      height: 100vh;
    }

    .addPet-content{
      width: 90%;
    }

    .book-price{
      font-size: 14px;
    }

    .book-card h3

    .book-list .book-image{
      height: 150px;
      width: 75px;
    }



    .login-content{
      width: 90%;
      padding:75px 0;
    }

    .footer-container{
      padding-top:20px;
    }

    .footer-container .logo{
      width: 100px;
    }

    .footer-section-one p{
      font-size:14px;
    }

    .footer-section li{
      font-size: 14px;
    }

    .social-container{
      display: flex;
      justify-content: center;
      gap:16px;
    }

    .social img{
      width: 50px;
    }

    .contact-content{
      width: 90%;
    }
    
    .pet-content{
      width: 350px;
    }

    .day-row small{
      display: none;
    }

    .day-row h4{
    font-size: 14px;
    }

    .day-row a{
      font-size: 12px;
    }

    .timeslot-row{
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .form-group button{
      width: 200px;
      margin:10px 0;
    }

    .success-content{
      display: flex;
      justify-content: center;
      height: 100%;
    }

    .success-content h2{
      font-size: 48px;
    }

    .success-content p{
      font-size: 36px;
    }

    .animated-tick-icon{
      width: 300px;
    }

    .feature-card-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .feature-card{
      text-align: center;
    }

    .membership-feature-card{
      order: 2;
    }

    .story-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .blob-img{
      width: 350px;
    }

    .story-paragraph{
      width: 300px;
      margin:0 auto;
    }

    .services{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    .services-img{
      position: relative;
      border-radius: 100%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-bottom:-210px;
      margin-left:15px;
      z-index: 99;
    }

    .blob-img2{
      width: 225px;
      z-index: -1;
      margin-left:75px;
    }

    .story-container > div{
      margin:0 auto;
    }



.header-content-bot {
  background: #00A385;
  height: 400px;
  position: relative;
    &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00A385;
    z-index: 1;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    background: #00A385;
    z-index: 1;
  }

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.wrap {
  max-width: 100%;
  margin: 0 auto;

}
.spotlight {
  display: flex;
  height: 250px;
  width: 100%;
}

.spotlight:nth-child(1) img{
  margin-top:-50px;
  margin-right:20px
}



.wave-container {
  position: relative;
  bottom:44px;
  z-index: 100;
  padding-bottom:20px;
  

  .wrap {
    position: relative;
  }
  
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    svg {
      position: absolute;
      bottom: 50px;
      left: 50%;
      height: auto;
      width: 100%;
      transform: translateY(50%) translateX(-50%);
      min-height: 190px;
      min-width: 420px;
    }
  }

  path {
    stroke-width: 20px;
    stroke: black;
    fill: red;
  }
}

/* Testimonials */
.gtco-testimonials {
  position: relative;
  margin-top: 60px;

  h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }

  .owl-stage-outer {
    padding: 30px 0;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    text-align: center;

    span {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      border: 2px solid #00A385;
      margin: 0 5px;
    }

    .active {
      box-shadow: none;

      span {
        background: #00A385;
        box-shadow: none;
        height: 12px;
        width: 12px;
        margin-bottom: -1px;
      }
    }
  }
}

.gtco-testimonials .card{
  background: #fff;
  box-shadow: 0 8px 30px -7px #00A385;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;

  .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -7px #00A385;
    width: 100px;
    height: 100px;
  }

  h5 {
    color: #00A385;
    font-size: 21px;
    line-height: 1.3;

    span {
      font-size: 18px;
      color: #666666;
    }
  }
}

.gtco-testimonials p{
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}

.active {
  opacity: 0.5;
  transition: all 0.3s;
}

.center {
  opacity: 1;

  h5 {
    font-size: 24px;

    span {
      font-size: 20px;
    }
  }

  .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
  }


}

.meet-team-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.book-container input.button{
  width: fit-content;
}

.modal-confirmation-container input.button{
  max-height: 38px;
  margin-left: 10px;

}

.modal-confirmation-container{
  display: flex;
  flex-direction: row;
}

.book-container .danger{
  width: fit-content;
}

.modal-content input.button, .modal-content .danger{
  width: fit-content;
}

.about-content{
  width: 400px;
}

.staff-card-container, .about-container, .community-container{
  margin:0 20px;
}

.staff-card{
  margin:30px 0;
}

.staff-img{
  width: 200px;
  object-fit: cover;
  height: 300px;
}

.article-card{
  display: flex;
  text-align: left;
  width: 75vw;
  max-width: 75vw;
  margin:0 auto;
}

.article-image{
  width: 175px !important;
  height: 175px !important;
  object-fit: cover;
  margin-right:20px;
}

.article-card p {
  width: 35vw;
}

.header-img{
  transform: translate(1px, 1px);
  margin-left: -20px;
}

.trending-articles{
  background-color: #dfe1ff;
}
.articles-buttons-container{
  display: none;
}

.articles-section .book-list{
  flex-direction: column;
  flex-wrap: nowrap;
}

.article-heading{
  margin:0 auto;
  padding-left: 11vw;
}

.admin-buttonc-container{
  margin:0 auto;
  width: 162px;
}

.add-button{
  padding:16px 32px;
}

.headline{
  position: relative;
  z-index: 100;
  text-align: center;
}


}



@media screen and (min-width: 472px) and (max-width: 610px) {
  /* 
    Lets us show elements that may be hidden 
    (i.e., display: none;) on mobile by default, 
    such as the page navigation.
  */
  .show-on-mobile {
    display: block;
  }

  /* DIALOGUE BUTTONS */
  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  .button-group > .button {
    flex: 1;
    text-align: center;
  }

  /* TABLE */
  .buttons-cell {
    width: 20%;
  }

  .basket-controls a {
    padding: 12px 36px;
  }

  .page-header .logo{
    width: 55px;

  }

  .page-header > .header-content > .desktop-header-row >.mobile-top > .logo-desktop{
    display: none;

  }

  .form-content {
    width: 85%;
  }

  .header-content{
    padding:25px 0;
  }

  .header-content > p, .header-content > h2{
    margin:0;
  }

  .header-img{
    width: 250px;
  }

  .mobile-top{
    justify-content: space-between;
  }

  .page-title{
    font-size:24px;
    margin-right:15vw;
  }

  .nav-button{
    width: 75px;
  }

  .header-content > h2, .header-content > p {
    padding: 2% 10%;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
  }

  .page-footer .logo{
    width: 125px;
  }

  .social-container{
    display: flex;
    justify-content: space-around;
  }

  .social{
    width: 100%;
  }

  .soc-icon{
    width: 35px
  }

  .footer-container hr{
    margin:25px 0;
  }

  .footer-section-one {
    margin-bottom:25px;
  }

  .copyright{
    margin:  0 0 55px 0;
  }

  


  .contact-info{
    padding:0 50px;
    margin-bottom: 25px;
  }

  .social-container{
    margin-bottom:50px;
  }

  /* Registration */

  .animated-tick-icon{
    width: 125px;
  }

  /* Index */

  .feature-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
    margin:55px 0;
    padding:25px 0;

  }

  .feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 128px;
    text-align: center;

  }

  .feature-icon{
    width:75px;
    height: auto;
  }

  .membership-feature-card, .appointment-feature-card{
    width: 150px;
  }

  /* Booking Page */

.day-names{
  font-size:12px;
  font-weight: 600;
}

.day-row{
  padding:16px 4px;
  font-size: 12px;
}

.day-row small{
  display: none;
}

.calendar-content{
  padding: 32px 24px;

}

.timeslot-row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-md-2 button{
  width:85vw;
}

.btn-submit-appt{
  margin:0 auto;
  font-size: 14px;
  padding:6px 15px;
}

.form-group button{
  width: 200px;
  margin:10px 0;
}

.book-container input.button{
  max-width: 250px;
}

.modal-content input.button, .modal-content .danger{
  width: 100px;
  max-width: 250px;
}

.modal-content{
  width: 300px;
}

.about-content{
  width: 500px;
}

.staff-card-container, .about-container, .community-container{
  margin:0 20px;
}

.staff-card{
  margin:30px 0;
}

.staff-img{
  width: 200px;
  object-fit: cover;
  height: 300px;
}

.article-image{
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
  margin-right:20px;
}

.article-card{
  margin: 0 auto;
  width: 75vw;
  max-width: 75vw;
}

.article-card p{
  width: 35vw;
  max-width: 40vw;
}

.pets-content{
  max-width: 700px;
  min-width: 500px;
}

.admin-buttonc-container{
  margin:0 auto;
}

.pets-content .book-list{
  max-width: 90vw;
  margin:0 auto;
}







}

/* MOBILE AND TABLET */
@media screen and (min-width:611px) and (max-width: 950px) {
  /* 
    Lets us show elements that may be hidden 
    (i.e., display: none;) on mobile by default, 
    such as the page navigation.
  */
  .show-on-mobile {
    display: block;
  }

  /* DIALOGUE BUTTONS */
  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  .button-group > .button {
    flex: 1;
    text-align: center;
  }

  /* TABLE */
  .buttons-cell {
    width: 20%;
  }

  .basket-controls a {
    padding: 12px 36px;
  }



  .page-header > .header-content > .desktop-header-row >.mobile-top > div {
    display: flex;
    align-items: center;

  }

  .page-header .logo{
    width: 55px;

  }

  .page-header > .header-content > .desktop-header-row >.mobile-top > .logo-desktop{
    display: none;

  }

  .header-content{
    padding:25px 0;
  }

  .header-content > p, .header-content > h2{
    margin:0;
  }

  .header-img{
    width: 300px;
  }

  .mobile-top{
    justify-content: space-between;
  }

  .page-title{
    font-size:24px;
    margin-right:15vw;
  }

  .nav-button{
    width: 75px;
  }

  .header-content > h2, .header-content > p {
    padding: 2% 10%;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
  }

  .page-footer .logo{
    width: 125px;
  }

  .social-container{
    display: flex;
    justify-content: space-around;
  }

  .social{
    width: 100%;
  }

  .soc-icon{
    width: 35px
  }

  .footer-container hr{
    margin:25px 0;
  }

  .footer-section-one {
    margin-bottom:25px;
  }

  .copyright{
    margin:  0 0 55px 0;
  }

  


  .contact-info{
    padding:0 50px;
    margin-bottom: 25px;
  }

  .social-container{
    margin-bottom:50px;
  }

  /* Registration */

  .animated-tick-icon{
    width: 125px;
  }

  /* Index */

  .feature-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
    margin:55px 0;
    padding:25px 0;

  }

  .feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 128px;
    text-align: center;

  }

  .feature-icon{
    width:75px;
    height: auto;
  }

  .membership-feature-card, .appointment-feature-card{
    width: 150px;
  }

  /* Booking Page */

.day-row{
  padding:15px;
  font-size: 12px;
}

.day-row small{
  display: none;
}

.calendar-content{
  padding: 32px 24px;

}

.timeslot-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.col-md-2{
  width:85px;
  margin:0 15px;
}

.pets-content{
  max-width: 100%;
}

.admin-buttonc-container{
  margin:0 auto;
}

.btn-succes {
  width: 100%;
}

.btn-submit-appt{
  margin:0 auto;
  font-size: 14px;
  padding:6px 15px;
}

.form-group button{
  width: 100px;
  margin:10px 0;
}

.gtco-testimonials {
  margin-top: 20px;
}

.feature-card-container{
  flex-direction: row;
}

.blob-img{
  width: 450px;
}

.services{
  margin-top:140px;
}

.services-img{
  width: 200px;
  height: 200px;
}

.blob-img2{
  width: 325px;
  height: 325px;
  margin-top:-75px;
}

.meet-team-container{
  margin:0 150px;
}

.book-container input.button{
  max-width: 250px;
}

.modal-content input.button, .modal-content .danger{
  width: 200px;
  max-width: 250px;
}

.modal-content{
  width: 500px;
}

.story-container{
  flex-direction: column;
  align-items: center;
}

.story-paragraph{
  width: 40%;
  margin:0;
  margin-right:20px;

}

.blob-img{
  width: 300px;
}

.story-container{
  flex-direction: column;
}

.story-card, .team-card{
  display: flex;
  
}

.about-content{
  width: 600px;
}

.staff-card-container, .about-container, .community-container{
  margin:0 20px;
}

.staff-card-container{
  display: flex;
  flex-direction: column;
}


.staff-card{
  display: flex;
  margin:30px 0;
}

.staff-card div{
  margin-left:35px;
}

.staff-img{
  width: 200px;
  object-fit: cover;
  height: 300px;
}

.article-card{
  width: 75vw;
  max-width: 75vw !important;
  margin: 0 auto;
}





}

/* DESKTOP */
@media screen and (min-width: 950px) {
  .button-form .button {
    text-align: center;
    max-width: 250px;
  }

  .page-navigation{
    height: 50px;
    overflow: hidden;
  }

  .page-header{
    overflow: hidden;
    height: 400px;
  }

  .page-header > .header-content > .desktop-header-row >.mobile-top > .logo-mobile{
    display: none;

  }

  .page-header > .header-content > .desktop-header-row >.mobile-top > div > .logo{
    width: 75px;

  }

  .page-header > .header-content > .desktop-header-row >.mobile-top > div {
    display: flex;
    align-items: center;

  }

  /* HEADER, NAVIGATION, FOOTER */

  .header-content-bot{
    height: 400px;
    overflow:hidden;
  }

  .header-content-bot > h2,p{
    margin:0;
    padding:0;
  }

  .header-content-bot  p{
    padding:0.5vw 0 0 0;
    font-size: 16px;
    width: 250px;
  }
  
  .header-content-bot  h2{
    font-size: 32px;
    width: 500px;
  }

  .header-img{
    width: 400px;
  }
  
  .content-wrapper {
    width: 900px;
  }
  

  .main-content {
    padding: 0;
  }

  .desktop-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
  }
  
  .nav-button {
    display: none;
  }

  .page-navigation {
    display: block;
  }

  .nav-links {
    display: flex;
  }

  .nav-links a {
    margin-top: 0;
    margin-left: 16px;
  }



  .footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    column-gap: 110px;

  }

  .copyright{
    margin:  0 0 25px 0;
  }

  .footer-container .logo{
    width:125px;
  }


  .footer-container li{
    padding:8px 0;
    font-size: 14px;
  }

  .footer-container p{
    font-size:14px;
  }

  .page-footer h3{
    font-size: 24px;
  }

  .footer-section-one{
    text-align: left;
  }

  .footer-section-one ul{
    display: flex;
    margin: 2vw 0;
    gap:16px;
    justify-content: space-around;
  }

  .contact-info{
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .social-container{
    display: flex;
    justify-content: space-around;
  }

  .social{
    width: 100%;
  }

  .soc-icon{
    width: 35%;
  }


  /* Home Page Features */


  .feature-card-container{
    margin: 110px 0;
    width: 100%;
    height: 200px;
    padding:0 250px;
    align-items: center;
  }

  .feature-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:16px;
    text-align: center;
  }

  .membership-feature-card, .appointment-feature-card{
    width: 150px;
  }

  .shop-feature-card{
    width: 100px;
  }


  .index-content{
    width: 100%;
  }


/* Booking Calendar */

  /* BOOK LIST */
  .book-card {
    max-width: 250px;
  }

  .book-image {
    height: 450px;
    width: 350px;
  }

  /* BOOK */
  .book-container {
    display: flex;
    gap: 16px;
    padding:100px 0;
  }


  /* TABLES */
  /* th,
  td {
    padding: 8px;
  } */

  .day-row{
    padding: 16px 4px;
  }

  .timeslot-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
  }

  .col-md-2{
    width: 100px;
  }

  .btn-succes {
    width: 100%;
  }

  .day-row > h4{
    margin-top:-10px;
  }


  .image-cell {
    width: 250px;
  }

  .buttons-cell {
    width: 100px;
  }

  .buttons-cell a {
    margin: 16px auto;
  }

  /* LOGIN / REGISTER FORMS */

  /* 
    On desktop, make form buttons smaller and 
    centred, but only for buttons that are 
    immediate descendents of a form.
  */
  .form > .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .inline-inputs input {
    width: 100px;
  }

  .form-row {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }

  .form-row div:last-of-type {
    flex: 1;
  }

  /* ORDERS */
  .order-group-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-group-meta {
    display: flex;
    gap: 32px;
  }

  .order-price {
    order: 1;
  }

  .order-group-row {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .order-image {
    height: 280px;
    width: 300px;
  }

  .btn-submit-appt{
    margin:0 auto;
    font-size: 14px;
    padding:6px 15px;
  }

  .addPet-content{
    width: 900px;
  }

  .login-content{
    width: 900px;
  }
  
  .pets-content{
    width: 900px;
  }

  .pet-content{
    width: 950px;
  }

  .admin-buttonc-container{
    width: 835px;
  }

  .col-md-2{
    width:85px;
    margin:0 15px;
  }
  
  
  .btn-succes {
    width: 100%;
  }

  .form-group button{
    width: 100px;
  }

  .day-row small{
    margin-top:15px;
    display: block;
  }

  .day-row h4{
  font-size: 16px;
  }

  .day-row a{
    font-size: 14px;
  }

  .header-content-bot {
    background: #00A385;
    height: 350px;
    position: relative;
      &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #00A385;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      background: #00A385;
      z-index: 1;
    }
  
    .wrap {
      position: relative;
      z-index: 10;
    }
  }
  
  .wrap {
    max-width: 100%;
  
  }
  .spotlight {
    display: flex;
    height: 250px;
    width: 100%;
    margin-right:600px;
  }
  
  .spotlight:nth-child(1) img{
    margin-top:-75px;
    margin-left:75px;
  }
  
  
  
  .wave-container {
    position: relative;
    bottom:53px;
    z-index: 100;
    padding-bottom:350px;
    
  
    .wrap {
      position: relative;
    }
    
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 200px;
      svg {
        position: absolute;
        bottom: 50px;
        left: 50%;
        height: auto;
        width: 100%;
        transform: translateY(50%) translateX(-50%);
        min-height: 190px;
        min-width: 420px;
      }
    }

    .wave svg{
      z-index: 1;
    }
  
    path {
      stroke-width: 20px;
      stroke: black;
      fill: red;
    }
  }

  .gtco-testimonials {
    margin-top: 20px;
  }

  .feature-card-container, .services{
    justify-content: space-around;
    flex-direction: row;
  }


  .services div{
    width: 235px;
  }

  .services h3{
    width: 200px;
   margin: 0 auto;
  }

  .blob-img2{
    margin-left:35px;
  }

  .blob-img{
    width: 500px;
  }

  .meet-team-container{
    margin:0 250px;
  }

  .book-container input.button, .book-container .danger{
    max-width: 250px;
  }
  
  .modal-content input.button, .modal-content .danger{
    width: 200px;
    max-width: 250px;
  }

  .modal-content{
    width: 600px;
  }

  .story-container {
    max-width: 1367px;   
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }
  
  .story-paragraph{
    width: 400px;
    margin:0;  
  }

  .blob-img{
    width: 400px;
  }

  .about-content{
    width: 600px;
  }
  
  .staff-card-container, .about-container, .community-container{
    margin:0 20px;
  }
  
  .staff-card-container{
    display: flex;
    flex-direction: column;
  }
  
  
  .staff-card{
    display: flex;
    margin:30px 0;
  }
  
  .staff-card div{
    margin-left:35px;
  }
  
  .staff-img{
    width: 200px;
    object-fit: cover;
    height: 300px;
  }

  .article-card{
    width: 55vw;
  }

  .article-card p{
    width: 20vw;
    max-width: 25vw;
  }

  .article-heading{
    margin:0 auto;
    padding-left: 36vw;
  }


}

@media screen and (min-width:1000px){
  .meet-team-container{
    margin:0 350px;
  }

  .blob-img{
    width: 300px;
  }
  .pets-content{
    width: 90%;
    max-width: 1200px;
  }

  .about-content{
    width: 700px;
  }

  .articles-section .book-list{
    width: 100vw;
  }

  .articles-section .book-list{
    flex-direction: row;
    justify-content: center;
  }

  .book-card{
    flex-direction: column;
  }

  .article-card .article-image{
    width: 270px !important;
    height: 245px !important;
    object-fit: cover;
  }

  .article-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-heading{
    margin:0 auto;
    padding:0
  }

  .admin-buttonc-container{
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
  }






}

@media screen and (min-width:1200px){
  .spotlight:nth-child(1) img{
    margin-top:-75px;
    margin-left:170px;
  }
  .gtco-testimonials {
    margin-top: 20px;
  }

  .story-card{
    display: flex;
  }

  .team-card{
    display: flex;
  }

  .page-header{
    overflow: hidden;
    height: 475px;
  }

  .meet-team-container{
    margin:0 450px;
  }

  .blob-img{
    width: 300px;
  }
}

@media screen and (min-width:1400px){
  .meet-team-container{
    margin:0 650px;
  }
}

.owl-carousel {
  .owl-nav button {
    &.owl-next, &.owl-prev {
      outline: 0;
    }
  }

  button.owl-dot {
    outline: 0;
  }
}






